<head>
  <nav>
    <a href="/">برنامج الموهوبين</a>
    <ul>
      <li>
        <a href="/offices">مكاتب التعليم</a>
      </li>
      <li>
        <a href="/offices/new">اضافة مكتب</a>
      </li>
      <li>
        <a href="/grades/new">اضافة مرحلة</a>
      </li>
    </ul>
  </nav>
</head>